@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400);

html,body {
  height:100%;
    background:center no-repeat fixed url('../img/background_walking.jpg');
    background-size: cover;
    color:#444;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width:768px) {
    h1 {
        font-size:56px;
        padding-bottom: 20px;
    }
}

a {
    color:#999;
}

a:hover {
    color:#111;
}

.btn,.well,.panel {
    border-radius:0;
}

.btn-danger {
    background-color:#f44d3c;
}

.text-danger, a.text-danger {
    color:#f44d3c;
    font-family: 'Pacifico', cursive;
}

.btn-huge {
    padding:17px 22px;
    font-size:22px;
}

.lato {
    font-family: 'Montserrat', sans-serif;
}

.bitter {
    font-family: 'Montserrat', sans-serif;
}

.icon-bar {
  background-color:#fff;
}

.navbar-trans {
  background-color:#2b2b2b;
    color:#cdcdcd;
    border-width:0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color:#f44d3c;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
  background-color:#f44d3c;
  color:#333;
}

.navbar-trans li>a:hover {
  background-color:#f44d3c;
  color:#fff;
  opacity:0.5;
}

.navbar-trans a{
    color:#cdcdcd;
    letter-spacing:1px;
}

.navbar-trans .form-control:focus {
  border-color: #eee;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  padding: 7px;
  text-align: center;
  z-index:-1
}

.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;
}

.scroll-up a {
  background-color: rgba(135, 135, 135, 0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

section {
  padding-top:70px;  
    padding-bottom:50px;
    min-height:100%;
    min-height:calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media (min-width:768px) {
    .v-center {
        height: 75%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}
  
#section1, #section3 {
  background-color: rgba(122, 195, 229, 0.39);
  color:#fff;
  font-family: 'Montserrat', sans-serif;
}
  
#section4 {
  background-color: #f6f6f6;
  color:#444;
}
  
#section2 {
  background-color: #fff;
}

#section3 {
  background-color: rgba(0,0,0,0.9);
}

#section5 {
  background-color: #fff;
}

#section6 {
    background-color: #eee;
  min-height:130px;
  padding-top:40px;
  padding-bottom:40px;
}

#section7 {
  background-color: #f44d3c;
  color: #f6f6f6;
  min-height:130px;
  padding-top:40px;
  padding-bottom:40px;
}

footer {
  background-color:#2b2b2b;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding: 3px;
    color: #f44d3c;
}

footer .nav>li>a:hover {
    background-color:transparent;
  color:#fff;
}


.centered-list {
  text-align: center;
  font-size: 1.5em;
  line-height: normal;
  width:100%;
}

.centered-list2 {
  text-align: left;
  font-size: 1.25em;
  line-height: 1.5em;
  width:300px;
  padding: 0 0 30px 0;
}

.countdown {
  color:red;
}

.countdown > div {
  display: none;
  font-size: 10em;
  text-align: center;
  /* margin-top: .3em; */
}

.countdown > .begin {
  font-size: 2em;

}

.begin {
  font-size: 2em;
}
#record {
  display: none;

}

.test-image  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
}

#visualizer {
  max-width: 600px;
  margin: 0 auto;
}

.verify-button {
  width:260px
}

.or-you-can {
  padding: 20px 0;
  font-size:20px;
}

.btn-success {
  margin-bottom: 10px;
}

.on-air {
  color:red;
}

.descripter {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 40px;
}


h1, h2, h3, h4, h5, h6 {
   color: #484cb0;
   font-weight: 600;
}

p, li, .or-you-can{
    color:#c45d3e;
}

.headphone {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

div > .row {
  margin-right: auto;
}

/* Custom Loader CSS */

#loader {
  position: relative;
  margin: 60px auto;
  left: 0;
  right: 0;
  top: 50%;
  width: 90px;
}
#loader ul {
  margin: 0;
  list-style: none;
  width: 90px;
  position: relative;
  padding: 0;
  height: 10px;
}
#loader ul li {
  position: absolute;
  width: 2px;
  height: 0;
  background-color: orange;
  bottom: 0;
}
@keyframes sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes sequence2 {
  0% {
    height: 20px;
  }
  50% {
    height: 65px;
  }
  100% {
    height: 20px;
  }
}
#loader li:nth-child(1) {
  left: 0;
  animation: sequence1 1s ease infinite 0;
}
#loader li:nth-child(2) {
  left: 15px;
  animation: sequence2 1s ease infinite 0.1s;
}
#loader li:nth-child(3) {
  left: 30px;
  animation: sequence1 1s ease-in-out infinite 0.2s;
}
#loader li:nth-child(4) {
  left: 45px;
  animation: sequence2 1s ease-in infinite 0.3s;
}
#loader li:nth-child(5) {
  left: 60px;
  animation: sequence1 1s ease-in-out infinite 0.4s;
}
#loader li:nth-child(6) {
  left: 75px;
  animation: sequence2 1s ease infinite 0.5s;
}


/* On Air Blinker CSS */

#blinker {
    color:red;
}


.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

